
/* Header side */
.site-header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
    border-bottom: 1px solid #e6e8ea;
    padding: 10px 0;
}

.header-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-sub {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
}

/* ── Icon buttons ── */
.icon-btn {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    color: #141618;
    border-radius: 2px;
}

.icon-btn:hover {
    background-color: #f6f6f6;
}

.bbc-logo {
    display: flex;
    flex-direction: column;
    align-self:center;
    height: auto;
    width: 100%;
}















.register-warp {
    display: flex;
    flex-direction: row;
    align-self:flex-end;
    gap: 20px;
}



/* ── buttons register ── */
.btn-register {
    height: 30px;
    width: auto;
    border: 1px solid #141618;
    padding: 6px 14px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    background-color: #141618;

}

.btn-register:hover {
    background-color: #141618;
    color: #ffffff;
}

.btn-signin {
    font-size: 14px;
    font-weight: bold;
    padding: 6px 2px;
    color: #141618;
    margin-right: 20px;
}

.btn-signin:hover {
    text-decoration: underline;
}