* {
    box-sizing: border-box;
    margin: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #212121;
    margin: 0;
}

#BBC-app {
    display: grid;
}

#bbc-header {
    background-color: #bb1919;
    color: white;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    position: static;
    top: 0;
}


#bbc-main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 24px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 16px;
}


#bbc-navigation {
    background-color: #212121;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#bbc-navigation ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0 20px;
}

#bbc-navigation li {
    padding: 12px 15px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.main-story {
    display: grid;
    gap: 16px;
}

.main-story h2 {

    font-size: 32px;
    font-weight: 800;
    line-height: 1.1;
    margin-top: 10px;

}

.story-image img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    display: block;
}

.main-story p {
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 8px;
    line-height: 1.4;
}
.hero-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 16px;
}

.main-story:first-child {
    grid-row: span 2; 
}

.main-story:hover h2 {
    color: #116799;
    text-decoration: underline;
}